html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-webkit-keyframes vibration {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  3% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  6% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  9% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  12% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  18% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  21% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  24% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  27% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  36% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  39% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  42% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  48% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  51% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  54% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  57% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes vibration {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  3% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  6% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  9% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  12% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  18% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  21% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  24% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  27% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  36% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  39% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  42% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  48% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  51% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  54% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  57% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.device--pc.wrapper {
  min-width: 1100px;
}
.device--pc.wrapper .fixed-bg {
  background-image: url('img/pc/kirakira_bg.png?1622da42960');
  width: 50px;
}
.device--pc .main:before, .device--pc .main:after {
  background-image: url('img/pc/kirakira_mask.png?1621e0ac0e0');
  width: 52px;
}
.device--pc .inner {
  width: 1000px;
}
.device--pc .info,
  .device--pc .about,
  .device--pc .dreamlife,
  .device--pc .dreamlife-thanks,
  .device--pc .history {
  padding: 50px 0;
  background-image: url('img/pc/border.png?1621e178e38');
  background-size: 1308.5px 2px;
  background-size: 1000px 2px;
}
.device--pc .top-visual__image--pc {
  display: block;
}
.device--pc .navigation {
  padding-top: 8px;
}
.device--pc .navigation__wrapper {
  padding: 27px 0;
  background-image: url('img/pc/border.png?1621e178e38');
  background-size: 1308.5px 2px;
  background-size: 1000px 2px;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.device--pc .navigation__wrapper .inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 140px;
}
.device--pc .navigation__links {
  width: 550px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.device--pc .navigation__link {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .navigation__link:hover {
  opacity: .6;
}
.device--pc .navigation__link--about {
  background-image: url('img/pc/nav1.png?1621de333e0');
  background-size: 107px 24px;
  width: 107px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .navigation__link--info {
  background-image: url('img/pc/nav2.png?1621de34b50');
  background-size: 72.5px 23.5px;
  width: 72.5px;
  height: 23.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .navigation__link--dreamlife {
  background-image: url('img/pc/nav3.png?1621de389d0');
  background-size: 168px 22px;
  width: 168px;
  height: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .navigation__shares {
  width: 74px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.device--pc .navigation__share {
  cursor: pointer;
}
.device--pc .navigation__share {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .navigation__share:hover {
  opacity: .6;
}
.device--pc .navigation__share--twitter {
  background-image: url('img/pc/twitter.png?1621e1893f0');
  background-size: 29.5px 29.5px;
  width: 29.5px;
  height: 29.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .navigation__share--facebook {
  background-image: url('img/pc/facebook.png?1621e18b330');
  background-size: 29.5px 29.5px;
  width: 29.5px;
  height: 29.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .countdown {
  padding: 56px 0 45px;
  background-image: url('img/pc/border.png?1621e178e38');
  background-size: 1308.5px 2px;
  background-size: 1000px 2px;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.device--pc .countdown img {
  height: 117px;
}
.device--pc .about__title {
  background-image: url('img/pc/title1.png?1621de53f50');
  background-size: 213px 46.5px;
  width: 213px;
  height: 46.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .about__description {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-top: 33px;
}
.device--pc .about__description > p {
  margin: 26px 0;
}
.device--pc .about__description > p > span {
  font-size: 14px;
}
.device--pc .about__description--pc {
  display: block;
}
.device--pc .about__pv {
  width: 800px;
  height: 450px;
  margin-top: 12px;
}
.device--pc .about__pv iframe {
  width: 100%;
  height: 100%;
}
.device--pc .info__title {
  background-image: url('img/pc/title2.png?1621de6e918');
  background-size: 151.5px 45.5px;
  width: 151.5px;
  height: 45.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .info__btn {
  background-image: url('img/pc/btn.png?1622f532950');
  background-size: 169px 29px;
  width: 169px;
  height: 29px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .info__btn {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .info__btn:hover {
  opacity: .6;
}
.device--pc .info__btn {
  text-indent: -9999em;
  margin-top: 25px;
}
.device--pc .info__stages {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}
.device--pc .stage {
  padding: 0 25px;
  width: 450px;
}
.device--pc .stage__city-name {
  display: inline-block;
  font-size: 45px;
}
.device--pc .stage__hall-name {
  display: inline-block;
  font-size: 20px;
  margin-left: 15px;
}
.device--pc .stage__schedule {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}
.device--pc .stage__table {
  position: relative;
  margin-top: 25px;
  left: -10px;
}
.device--pc .stage__table--kobe {
  background-image: url('img/pc/schedule1.png?1623d3df770');
  background-size: 414px 344px;
  width: 414px;
  height: 344px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .stage__table--yokohama {
  background-image: url('img/pc/schedule2.png?1623d3e3208');
  background-size: 414px 344px;
  width: 414px;
  height: 344px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .stage__ticket {
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
}
.device--pc .stage__ticket-shop {
  font-weight: bold;
}
.device--pc .dreamlife-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.device--pc .dreamlife-header__title {
  background-image: url('img/pc/title3.png?162525e1fb8');
  background-size: 376px 376.5px;
  width: 376px;
  height: 376.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}
.device--pc .dreamlife-header__descriptions {
  width: 460px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
}
.device--pc.schedule--history .dreamlife-header__descriptions {
  height: 270px;
}
.device--pc .dreamlife-header__description-heading {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 20px;
}
.device--pc .dreamlife-header__description {
  font-size: 18px;
  line-height: 25px;
}
.device--pc .dreamlife-header__description--note {
  font-size: 15px;
  line-height: 25px;
}
.device--pc .dreamlife-phone {
  background-image: url('img/pc/phone.png?162322e9380');
  background-size: 443px 593px;
  width: 443px;
  height: 593px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .dreamlife-phone {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .dreamlife-phone:hover {
  opacity: .6;
}
.device--pc .dreamlife-phone {
  margin-top: 62px;
  cursor: pointer;
}
.device--pc .dreamlife-phone--incoming {
  -webkit-animation: vibration 1.2s ease-in-out 0s infinite normal;
          animation: vibration 1.2s ease-in-out 0s infinite normal;
}
.device--pc .dreamlife-history-btn {
  background-image: url('img/pc/history.png?1623df1edc0');
  background-size: 313px 45px;
}
.device--pc .dreamlife-history-btn {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .dreamlife-history-btn:hover {
  opacity: .6;
}
.device--pc .dreamlife-history-btn {
  background-repeat: no-repeat;
  border: 2px solid #fff;
  background-position: center;
  border-radius: 5px;
  width: 468px;
  height: 90px;
  cursor: pointer;
  margin-top: 90px;
}
.device--pc .dreamlife-notes {
  margin-top: 80px;
  margin-left: 22px;
}
.device--pc .dreamlife-notes__heading {
  font-size: 27px;
  line-height: 1;
}
.device--pc .dreamlife-notes__list--pc {
  margin-top: 17px;
  display: block;
}
.device--pc .dreamlife-notes__item {
  font-size: 18px;
  line-height: 25px;
  padding-left: 1em;
  text-indent: -1em;
}
.device--pc .dreamlife-notes__text--emphasis {
  font-weight: bold;
  color: #e57253;
}
.device--pc .dreamlife-thanks__title {
  background-image: url('img/pc/title3.png?162525e1fb8');
  background-size: 376px 376.5px;
  width: 376px;
  height: 376.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .dreamlife-thanks__description {
  margin-top: 45px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}
.device--pc .dreamlife-thanks__description-heading {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 20px;
}
.device--pc .footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.device--pc .footer .inner {
  padding: 50px 20px 25px 25px;
}
.device--pc .copyrights {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 20px;
}
.device--pc .copyright--tennimu {
  height: 82px;
  padding-top: 35px;
  padding-left: 82px;
  position: relative;
}
.device--pc .copyright--tennimu__link {
  background-image: url('img/pc/logo1.png?1621dea5418');
  background-size: 71px 81.5px;
  width: 71px;
  height: 81.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
.device--pc .copyright--tennimu__link {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .copyright--tennimu__link:hover {
  opacity: .6;
}
.device--pc .copyright--jasrac {
  background-image: url('img/pc/logo2.png?1621dea7740');
  background-size: 69.5px 69px;
  background-repeat: no-repeat;
  background-position: right top;
  text-align: right;
  height: 69px;
  padding-top: 30px;
  padding-right: 79px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}
.device--pc .modal {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.device--pc .modal__overlay {
  background-color: rgba(0, 0, 0, .7);
}
.device--pc .phone__wrapper {
  width: 360px;
  height: 640px;
}
.device--pc .phone__image {
  width: 100%;
  height: 257px;
}
.device--pc .phone__contents {
  margin-top: 8px;
  height: 308px;
}
.device--pc .phone__role {
  font-size: 22px;
}
.device--pc .phone__name {
  font-size: 16px;
  line-height: 21px;
  margin-top: -10px;
  height: 42px;
  white-space: pre;
}
.device--pc .phone__state {
  font-size: 20px;
  margin-top: 10px;
}
.device--pc .phone__actions {
  width: 268px;
}
.device--pc .phone__actions--ended {
  -webkit-box-pack: center;
          justify-content: center;
}
.device--pc .phone__action-btn {
  cursor: pointer;
}
.device--pc .phone__action-btn {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .phone__action-btn:hover {
  opacity: .6;
}
.device--pc .phone__action-btn--close {
  background-image: url('img/btn1.png?1621e275d18');
  background-size: 78.5px 78.5px;
  width: 78.5px;
  height: 78.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .phone__action-btn--start {
  background-image: url('img/btn2.png?1621e2745a8');
  background-size: 78.5px 78.5px;
  width: 78.5px;
  height: 78.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .phone__action-label {
  font-size: 14px;
  margin-top: 7px;
}
.device--pc .phone__btn--tweet {
  height: 67px;
  font-size: 18px;
  line-height: 67px;
  text-indent: 50px;
}
.device--pc .phone__btn--tweet {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .phone__btn--tweet:hover {
  opacity: .6;
}
.device--pc .phone__btn--tweet:before {
  background-image: url('img/twitter.png?162341d3098');
  background-size: 29px 24px;
  width: 29px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 80px;
  margin-top: -12px;
}
.device--pc .video__btn {
  width: 232px;
  height: 48px;
  border: 2px solid rgba(6, 0, 0, .6);
  line-height: 44px;
  font-size: 19px;
  border-radius: 5px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 8px;
  left: 50%;
}
.device--pc .video__btn {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .video__btn:hover {
  opacity: .6;
}
.device--pc .video__btn {
  margin-left: -116px;
}
.device--pc .loading {
  background-image: url('img/loading.gif?162617e9b30');
  background-size: 76px 76px;
}
.device--pc .history {
  padding-bottom: 60px;
}
.device--pc .history-logo {
  background-image: url('img/pc/title3.png?162525e1fb8');
  background-size: 376px 376.5px;
  width: 376px;
  height: 376.5px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--pc .history-title {
  background-image: url('img/pc/history.png?1623df1edc0');
  background-size: 313px 45px;
  width: 313px;
  height: 45px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-top: 50px;
}
.device--pc .history-description--pc {
  display: block;
  font-size: 18px;
  line-height: 1;
  margin-top: 15px;
}
.device--pc .history-list {
  width: 825px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}
.device--pc .history-item {
  width: 400px;
  height: 46px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 22px;
  line-height: 1;
  padding: 11px 8px;
  cursor: pointer;
  margin-top: 15px;
}
.device--pc .history-item {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .history-item:hover {
  opacity: .6;
}
.device--pc .history-btn {
  margin-top: 80px;
  border: 2px solid #fff;
  border-radius: 3px;
  width: 247px;
  height: 48px;
  font-size: 20px;
  line-height: 1;
  padding: 11px 0;
  text-align: center;
  letter-spacing: 8px;
  cursor: pointer;
}
.device--pc .history-btn {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.device--pc .history-btn:hover {
  opacity: .6;
}
.device--sp.wrapper .fixed-bg {
  background-image: url('img/sp/kirakira_bg.png?1622da33b18');
  width: 30px;
}
.device--sp .main:before, .device--sp .main:after {
  background-image: url('img/sp/kirakira_mask.png?1621e1ca6e8');
  width: 32px;
}
.device--sp .inner {
  width: 690px;
}
.device--sp .info,
  .device--sp .about,
  .device--sp .dreamlife,
  .device--sp .dreamlife-thanks,
  .device--sp .history {
  padding: 100px 0;
  background-image: url('img/sp/border.png?1621e17e040');
  background-size: 690px 4px;
}
.device--sp .top-visual__image--sp {
  display: block;
}
.device--sp .navigation__wrapper {
  padding: 38px 0;
  background-image: url('img/sp/border.png?1621e17e040');
  background-size: 690px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.device--sp .navigation__wrapper .inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 16px 0 20px;
}
.device--sp .navigation__links {
  width: 512px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.device--sp .navigation__link--about {
  background-image: url('img/sp/nav1.png?1621e17ff80');
  background-size: 133px 29px;
  width: 133px;
  height: 29px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .navigation__link--info {
  background-image: url('img/sp/nav2.png?1621e182e60');
  background-size: 90px 29px;
  width: 90px;
  height: 29px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .navigation__link--dreamlife {
  background-image: url('img/sp/nav3.png?1621e1816f0');
  background-size: 208px 27px;
  width: 208px;
  height: 27px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .navigation__shares {
  width: 106px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.device--sp .navigation__share--twitter {
  background-image: url('img/sp/twitter.png?1621e029708');
  background-size: 41px 41px;
  width: 41px;
  height: 41px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .navigation__share--facebook {
  background-image: url('img/sp/facebook.png?1621e02aa90');
  background-size: 41px 41px;
  width: 41px;
  height: 41px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .countdown {
  padding: 60px 0 44px;
  background-image: url('img/sp/border.png?1621e17e040');
  background-size: 690px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.device--sp .countdown img {
  height: 117px;
}
.device--sp .countdown--during-stage img {
  height: 90px;
}
.device--sp .countdown--thanks img {
  height: 90px;
}
.device--sp .about__title {
  background-image: url('img/sp/title1.png?1621e19e3e0');
  background-size: 298px 65px;
  width: 298px;
  height: 65px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .about__description {
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
}
.device--sp .about__description > p {
  margin: 46px 0;
}
.device--sp .about__description > p > span {
  font-size: 23px;
}
.device--sp .about__description--sp {
  display: block;
}
.device--sp .about__pv {
  width: 690px;
  height: 388px;
  margin-top: 30px;
}
.device--sp .about__pv iframe {
  width: 100%;
  height: 100%;
}
.device--sp .info__title {
  background-image: url('img/sp/title2.png?1621e1a12c0');
  background-size: 212px 64px;
  width: 212px;
  height: 64px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .info__btn {
  background-image: url('img/sp/btn.png?1623274ef38');
  background-size: 237px 41px;
  width: 237px;
  height: 41px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999em;
  margin-top: 36px;
}
.device--sp .info__stages {
  width: 100%;
  margin-top: 76px;
}
.device--sp .stage {
  padding: 0 14px;
}
.device--sp .stage:nth-child(2) {
  margin-top: 90px;
}
.device--sp .stage__place {
  margin-left: 25px;
}
.device--sp .stage__city-name {
  display: inline-block;
  font-size: 77px;
}
.device--sp .stage__hall-name {
  display: inline-block;
  font-size: 36px;
  margin-left: 45px;
}
.device--sp .stage__schedule {
  margin-top: 60px;
  margin-left: 25px;
  font-size: 32px;
  font-weight: bold;
}
.device--sp .stage__table {
  margin-top: 40px;
}
.device--sp .stage__table--kobe {
  background-image: url('img/sp/schedule1.png?1621e1ad610');
  background-size: 662px 550px;
  width: 662px;
  height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .stage__table--yokohama {
  background-image: url('img/sp/schedule2.png?1621e1d1060');
  background-size: 662px 550px;
  width: 662px;
  height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .stage__ticket {
  font-size: 30px;
  line-height: 44px;
  margin-top: 50px;
  margin-left: 25px;
}
.device--sp .stage__ticket-shop {
  font-weight: bold;
}
.device--sp .dreamlife-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
}
.device--sp .dreamlife-header__title {
  background-image: url('img/sp/title3.png?162525eb040');
  background-size: 548px 549px;
  width: 548px;
  height: 549px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .dreamlife-header__description-heading {
  font-size: 36px;
  line-height: 1;
  text-align: center;
  margin-bottom: 33px;
}
.device--sp .dreamlife-header__descriptions {
  margin-top: 13px;
}
.device--sp .dreamlife-header__description {
  font-size: 27px;
  line-height: 40px;
  margin-top: 50px;
}
.device--sp .dreamlife-header__description--note {
  font-size: 22px;
  line-height: 40px;
}
.device--sp .dreamlife-phone {
  background-image: url('img/sp/phone.png?1621e267a88');
  background-size: 503px 674px;
  width: 503px;
  height: 674px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-top: 53px;
}
.device--sp .dreamlife-phone--incoming {
  -webkit-animation: vibration 1.2s ease-in-out 0s infinite normal;
          animation: vibration 1.2s ease-in-out 0s infinite normal;
}
.device--sp .dreamlife-history-btn {
  background-image: url('img/sp/history.png?1623df1edc0');
  background-size: 313px 45px;
  background-repeat: no-repeat;
  border: 4px solid #fff;
  background-position: center;
  border-radius: 5px;
  width: 468px;
  height: 90px;
  cursor: pointer;
  margin-top: 90px;
}
.device--sp .dreamlife-notes {
  margin-top: 52px;
}
.device--sp .dreamlife-notes__heading {
  text-align: center;
  line-height: 1;
  font-size: 36px;
}
.device--sp .dreamlife-notes__list--sp {
  display: block;
  margin-top: 37px;
}
.device--sp .dreamlife-notes__item {
  font-size: 27px;
  line-height: 40px;
  padding-left: 1em;
  text-indent: -1em;
}
.device--sp .dreamlife-notes__text--emphasis {
  font-weight: bold;
  color: #e57253;
}
.device--sp .dreamlife-thanks__title {
  background-image: url('img/sp/title3.png?162525eb040');
  background-size: 548px 549px;
  width: 548px;
  height: 549px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .dreamlife-thanks__description {
  margin-top: 50px;
  font-size: 27px;
  line-height: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}
.device--sp .dreamlife-thanks__description-heading {
  font-size: 36px;
  line-height: 1;
  text-align: center;
  margin-bottom: 33px;
}
.device--sp .footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.device--sp .footer .inner {
  padding: 30px 8px 30px 0;
}
.device--sp .copyrights {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 20px;
}
.device--sp .copyright--tennimu {
  height: 87px;
  padding-top: 40px;
  padding-left: 88px;
  position: relative;
}
.device--sp .copyright--tennimu__link {
  background-image: url('img/sp/logo1.png?1621e263438');
  background-size: 76px 87px;
  width: 76px;
  height: 87px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
.device--sp .copyright--jasrac {
  background-image: url('img/sp/logo2.png?1621e265378');
  background-size: 74px 74px;
  background-repeat: no-repeat;
  background-position: right top;
  text-align: right;
  height: 74px;
  padding-top: 35px;
  padding-right: 83px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}
/*
SPでは画面の高さいっぱいにモーダルを表示するが、
端末を横にした状態でも表示を保つ必要があるため、
デザイン上の要素のpxをデザイン上のモーダルの高さ(1334px)
で割り、100vhにかける処理を挟んでいる(mixin cbv(calc-by-vh))
*/
.device--sp .modal__overlay {
  background-color: rgba(0, 0, 0, 1);
}
.device--sp .phone {
  height: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.device--sp .phone__wrapper {
  height: 100%;
}
.device--sp .phone__contents {
  margin-top: 16px;
  height: 626px;
  margin-top: 1.1994vh;
  height: 46.92654vh;
  margin-top: 1.2%;
  height: 48%;
  width: 100%;
}
.device--sp .phone__role {
  font-size: 44px;
  font-size: 3.29835vh;
}
.device--sp .phone__name {
  font-size: 40px;
  line-height: 54px;
  margin-top: -20px;
  height: 108px;
  white-space: pre;
  font-size: 2.3988vh;
  line-height: 3.22339vh;
  margin-top: -1.49925vh;
  height: 6.44678vh;
}
.device--sp .phone__state {
  font-size: 40px;
  margin-top: 20px;
  font-size: 2.9985vh;
  margin-top: 1.49925vh;
  height: 2.9985vh;
}
.device--sp .phone__actions {
  width: 536px;
  width: 40.17991vh;
  width: 75%;
}
.device--sp .phone__actions--ended {
  -webkit-box-pack: center;
          justify-content: center;
}
.device--sp .phone__action-btn--close {
  background-image: url('img/btn1.png?1621e275d18');
  background-size: 157px 157px;
  width: 157px;
  height: 157px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  width: 11.76912vh;
  height: 11.76912vh;
}
.device--sp .phone__action-btn--start {
  background-image: url('img/btn2.png?1621e2745a8');
  background-size: 157px 157px;
  width: 157px;
  height: 157px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  width: 11.76912vh;
  height: 11.76912vh;
}
.device--sp .phone__action-label {
  font-size: 26px;
  margin-top: 12px;
  font-size: 1.94903vh;
  margin-top: 0.89955vh;
}
.device--sp .phone__btn--tweet {
  height: 134px;
  font-size: 36px;
  line-height: 134px;
  text-indent: 110px;
  height: 10.04498vh;
  font-size: 2.69865vh;
  line-height: 10.04498vh;
  text-indent: 8.24588vh;
}
.device--sp .phone__btn--tweet:before {
  background-image: url('img/twitter.png?162341d3098');
  background-size: 58px 48px;
  width: 58px;
  height: 48px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 160px;
  margin-top: -24px;
  background-size: contain;
  left: 11.994vh;
  width: 4.34783vh;
  height: 3.5982vh;
  margin-top: -1.7991vh;
  left: 21%;
}
.device--sp .video__btn {
  width: 464px;
  height: 96px;
  border: 4px solid rgba(6, 0, 0, .6);
  line-height: 88px;
  font-size: 38px;
  border-radius: 10px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 16px;
  left: 50%;
  margin-left: -232px;
  width: 34.78261vh;
  height: 7.1964vh;
  border-width: 0.29985vh;
  line-height: 6.5967vh;
  font-size: 2.84858vh;
  border-radius: 0.74963vh;
  bottom: 1.1994vh;
  margin-left: -17.3913vh;
}
.device--sp .loading {
  background-image: url('img/loading.gif?162617e9b30');
  background-size: 152px 152px;
}
.device--sp .history {
  padding: 50px 0;
}
.device--sp .history-logo {
  background-image: url('img/sp/title3.png?162525eb040');
  background-size: 548px 549px;
  width: 548px;
  height: 549px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.device--sp .history-title {
  background-image: url('img/sp/history.png?1623df1edc0');
  background-size: 626px 90px;
  width: 626px;
  height: 90px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 382px;
  height: 54px;
  background-size: contain;
  margin-top: 50px;
}
.device--sp .history-description--sp {
  display: block;
  font-size: 32px;
  line-height: 48px;
  margin-top: 35px;
  text-align: center;
}
.device--sp .history-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 16px;
}
.device--sp .history-item {
  width: 640px;
  height: 76px;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 32px;
  line-height: 1;
  padding: 20px 27px;
  margin-top: 24px;
}
.device--sp .history-btn {
  margin-top: 50px;
  width: 470px;
  height: 90px;
  border: 4px solid #fff;
  border-radius: 6px;
  letter-spacing: 16px;
  font-size: 36px;
  line-height: 1;
  padding: 23px 0;
  text-align: center;
}
html, body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #000;
  color: #fff;
}
html a, body a {
  color: #fff;
}
html a:link, html a:visited, html a:hover, html a:active, body a:link, body a:visited, body a:hover, body a:active {
  color: #fff;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
body {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.wrapper {
  position: relative
}
.wrapper .fixed-bg {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  height: 100%;
  background-size: contain;
  background-repeat: repeat-y;
}
.wrapper .fixed-bg--left {
  left: 1px;
}
.wrapper .fixed-bg--right {
  right: 1px;
}
.main {
  position: relative;
  display: block
}
.main:before, .main:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  height: 100%;
  background-size: contain;
  background-repeat: repeat-y;
  z-index: 100;
}
.main:before {
  left: 0;
}
.main:after {
  right: 0;
}
.header {
  position: relative;
  z-index: 500;
}
.top-visual__image {
  width: 100%;
  display: none;
}
.about__description {
  display: none;
}
.dreamlife-notes__list {
  display: none;
}
.history-description {
  display: none;
}
.about,
.info,
.dreamlife,
.dreamlife-thanks,
.history {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  background-position: center bottom;
  background-repeat: no-repeat
}
.about .inner, .info .inner, .dreamlife .inner, .dreamlife-thanks .inner, .history .inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.modal--display {
  pointer-events: auto;
}
.modal__overlay {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
.phone {
  position: relative;
  text-align: center;
}
.phone__wrapper {
  background-color: #1d1d1d;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.phone__image {
  width: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none
}
.phone__image img {
  width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.phone__image:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.phone__contents {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}
.phone__role {
  line-height: 1;
}
.phone__state {
  line-height: 1;
}
.phone__actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.phone__action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.phone__action-label {
  line-height: 1;
}
.phone__btn--tweet {
  width: 100%;
  display: block;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  background-color: #5bb8ff;
  text-decoration: none;
  text-align: center
}
.phone__btn--tweet:before {
  content: '';
}
.video {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.video--display {
  display: block;
}
.video__element {
  width: 100%;
  height: 100%;
}
.video__btn {
  background-color: rgba(0, 0, 0, .6);
  cursor: pointer;
  letter-spacing: .5em;
  text-align: center;
  font-weight: bold;
}
.loading {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  background-position: center center;
  background-repeat: no-repeat;
}
.loading--display {
  display: block;
}