.device--pc {
  & .about__title {
    @mixin replace-retina 'pc/title1.png';
  }

  & .about__description {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-top: 33px;

    & > p {
      margin: 26px 0;

      & > span {
        font-size: 14px;
      }
    }
  }

  & .about__description--pc {
    display: block;
  }

  & .about__pv {
    width: 800px;
    height: 450px;
    margin-top: 12px;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}