.device--pc {
  &.wrapper {
    min-width: 1100px;

    & .fixed-bg {
      background-image: resolve('pc/kirakira_bg.png');
      width: calc(width('pc/kirakira_bg.png') / 2);
    }
  }

  & .main {
    &:before, &:after {
      background-image: resolve('pc/kirakira_mask.png');
      width: calc(width('pc/kirakira_mask.png') / 2 + 2px);
    }
  }

  & .inner {
    width: 1000px;
  }

  & .info,
  & .about,
  & .dreamlife,
  & .dreamlife-thanks,
  & .history {
    padding: 50px 0;
    @mixin bg-retina 'pc/border.png';
    background-size: 1000px calc(height('pc/border.png') / 2);
  }
}