.device--pc {
  & .dreamlife-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  & .dreamlife-header__title {
    @mixin replace-retina 'pc/title3.png';
    transform: translateX(16px)
  }

  & .dreamlife-header__descriptions {
    width: 460px;
    transform: translateX(-30px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &.schedule--history {
    & .dreamlife-header__descriptions {
      height: 270px;
    }
  }

  & .dreamlife-header__description-heading {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 20px;
  }

  & .dreamlife-header__description {
    font-size: 18px;
    line-height: 25px;
  }

  & .dreamlife-header__description--note {
    font-size: 15px;
    line-height: 25px;
  }

  & .dreamlife-phone {
    @mixin replace-retina 'pc/phone.png';
    @mixin hover-fade;
    margin-top: 62px;
    cursor: pointer;
  }

  & .dreamlife-phone--incoming {
    animation: vibration 1.2s ease-in-out 0s infinite normal;
  }

  & .dreamlife-history-btn {
    @mixin bg-retina 'pc/history.png';
    @mixin hover-fade;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    background-position: center;
    border-radius: 5px;
    width: 468px;
    height: 90px;
    cursor: pointer;
    margin-top: 90px;
  }

  & .dreamlife-notes {
    margin-top: 80px;
    margin-left: 22px;
  }

  & .dreamlife-notes__heading {
    font-size: 27px;
    line-height: 1;
  }

  & .dreamlife-notes__list--pc {
    margin-top: 17px;
    display: block;
  }

  & .dreamlife-notes__item {
    font-size: 18px;
    line-height: 25px;
    padding-left: 1em;
    text-indent: -1em;
  }

  & .dreamlife-notes__text--emphasis {
    font-weight: bold;
    color: #e57253;
  }
}