.device--pc {
  & .dreamlife-thanks__title {
    @mixin replace-retina 'pc/title3.png';
  }

  & .dreamlife-thanks__description {
    margin-top: 45px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }

  & .dreamlife-thanks__description-heading {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 20px;
  }
}