.device--pc {
  & .footer {
    display: flex;
    justify-content: center;

    & .inner {
      padding: 50px 20px 25px 25px;
    }
  }

  & .copyrights {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 20px;
  }

  & .copyright--tennimu {
    height: 82px;
    padding-top: 35px;
    padding-left: 82px;
    position: relative;
  }

  & .copyright--tennimu__link {
    @mixin replace-retina 'pc/logo1.png';
    @mixin absolute 0, , , 0;
    @mixin hover-fade;
  }

  & .copyright--jasrac {
    @mixin bg-retina 'pc/logo2.png';
    background-repeat: no-repeat;
    background-position: right top;
    text-align: right;
    height: 69px;
    padding-top: 30px;
    padding-right: 79px;
    transform: translateY(7px);
  }
}