.device--pc {
  & .history {
    padding-bottom: 60px;
  }

  & .history-logo {
    @mixin replace-retina 'pc/title3.png';
  }

  & .history-title {
    @mixin replace-retina 'pc/history.png';
    margin-top: 50px;
  }

  & .history-description--pc {
    display: block;
    font-size: 18px;
    line-height: 1;
    margin-top: 15px;
  }

  & .history-list {
    width: 825px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
  }

  & .history-item {
    width: 400px;
    height: 46px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 22px;
    line-height: 1;
    padding: 11px 8px;
    cursor: pointer;
    margin-top: 15px;
    @mixin hover-fade;
  }

  & .history-btn {
    margin-top: 80px;
    border: 2px solid #fff;
    border-radius: 3px;
    width: 247px;
    height: 48px;
    font-size: 20px;
    line-height: 1;
    padding: 11px 0;
    text-align: center;
    letter-spacing: 8px;
    cursor: pointer;
    @mixin hover-fade;
  }
}