.device--pc {
  & .info__title {
    @mixin replace-retina 'pc/title2.png';
  }

  & .info__btn {
    @mixin replace-retina 'pc/btn.png';
    @mixin hover-fade;
    text-indent: -9999em;
    margin-top: 25px;
  }

  & .info__stages {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
  }

  & .stage {
    padding: 0 25px;
    width: 450px;
  }

  & .stage__city-name {
    display: inline-block;
    font-size: 45px;
  }

  & .stage__hall-name {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
  }

  & .stage__schedule {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
  }

  & .stage__table {
    position: relative;
    margin-top: 25px;
    left: -10px;
  }

  & .stage__table--kobe {
    @mixin replace-retina 'pc/schedule1.png';
  }

  & .stage__table--yokohama {
    @mixin replace-retina 'pc/schedule2.png';
  }

  & .stage__ticket {
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
  }

  & .stage__ticket-shop {
    font-weight: bold;
  }
}