.device--pc {
  & .modal {
    transition-property: opacity;
    transition-duration: .3s;
  }

  & .modal__overlay {
    background-color: rgba(0, 0, 0, .7);
  }

  & .phone__wrapper {
    width: 360px;
    height: 640px;
  }

  & .phone__image {
    width: 100%;
    height: 257px;
  }

  & .phone__contents {
    margin-top: 8px;
    height: 308px;
  }

  & .phone__role {
    font-size: 22px;
  }

  & .phone__name {
    font-size: 16px;
    line-height: 21px;
    margin-top: -10px;
    height: 42px;
    white-space: pre;
  }

  & .phone__state {
    font-size: 20px;
    margin-top: 10px;
  }

  & .phone__actions {
    width: 268px;
  }

  & .phone__actions--ended {
    justify-content: center;
  }

  & .phone__action-btn {
    cursor: pointer;
    @mixin hover-fade;
  }

  & .phone__action-btn--close {
    @mixin replace-retina 'btn1.png';
  }

  & .phone__action-btn--start {
    @mixin replace-retina 'btn2.png';
  }

  & .phone__action-label {
    font-size: 14px;
    margin-top: 7px;
  }

  & .phone__btn--tweet {
    height: 67px;
    font-size: 18px;
    line-height: 67px;
    text-indent: 50px;
    @mixin hover-fade;

    &:before {
      @mixin replace-retina 'twitter.png';
      @mixin absolute 50%, , , 80px;
      margin-top: calc(height('twitter.png') / -4);
    }
  }

  & .video__btn {
    width: 232px;
    height: 48px;
    border: 2px solid rgba(6, 0, 0, .6);
    line-height: 44px;
    font-size: 19px;
    border-radius: 5px;
    @mixin absolute auto, , 8px, 50%;
    @mixin hover-fade;
    margin-left: -116px;
  }

  & .loading {
    @mixin bg-retina 'loading.gif';
  }
}