.device--pc {
  & .navigation {
    padding-top: 8px;
  }

  & .navigation__wrapper {
    padding: 27px 0;
    @mixin bg-retina 'pc/border.png';
    background-size: 1000px calc(height('pc/border.png') / 2);
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    & .inner {
      display: flex;
      justify-content: space-between;
      padding: 0 140px;
    }
  }

  & .navigation__links {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .navigation__link {
    @mixin hover-fade;
  }

  & .navigation__link--about {
    @mixin replace-retina 'pc/nav1.png';
  }

  & .navigation__link--info {
    @mixin replace-retina 'pc/nav2.png';
  }

  & .navigation__link--dreamlife {
    @mixin replace-retina 'pc/nav3.png';
  }

  & .navigation__shares {
    width: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  & .navigation__share {
    cursor: pointer;
    @mixin hover-fade;
  }

  & .navigation__share--twitter {
    @mixin replace-retina 'pc/twitter.png';
  }

  & .navigation__share--facebook {
    @mixin replace-retina 'pc/facebook.png';
  }

  & .countdown {
    padding: 56px 0 45px;
    @mixin bg-retina 'pc/border.png';
    background-size: 1000px calc(height('pc/border.png') / 2);
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      height: 117px;
    }
  }
}