.device--sp {
  & .about__title {
    @mixin replace 'sp/title1.png';
  }

  & .about__description {
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;

    & > p {
      margin: 46px 0;

      & > span {
        font-size: 23px;
      }
    }
  }

  & .about__description--sp {
    display: block;
  }

  & .about__pv {
    width: 690px;
    height: 388px;
    margin-top: 30px;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}