.device--sp {
  &.wrapper {
    & .fixed-bg {
      background-image: resolve('sp/kirakira_bg.png');
      width: width('sp/kirakira_bg.png');
    }
  }

  & .main {
    &:before, &:after {
      background-image: resolve('sp/kirakira_mask.png');
      width: calc(width('sp/kirakira_mask.png') + 2px);
    }
  }

  & .inner {
    width: 690px;
  }

  & .info,
  & .about,
  & .dreamlife,
  & .dreamlife-thanks,
  & .history {
    padding: 100px 0;
    @mixin bg 'sp/border.png';
  }
}