.device--sp {
  & .dreamlife-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  & .dreamlife-header__title {
    @mixin replace 'sp/title3.png';
  }

  & .dreamlife-header__description-heading {
    font-size: 36px;
    line-height: 1;
    text-align: center;
    margin-bottom: 33px;
  }

  & .dreamlife-header__descriptions {
    margin-top: 13px;
  }

  & .dreamlife-header__description {
    font-size: 27px;
    line-height: 40px;
    margin-top: 50px;
  }

  & .dreamlife-header__description--note {
    font-size: 22px;
    line-height: 40px;
  }

  & .dreamlife-phone {
    @mixin replace 'sp/phone.png';
    margin-top: 53px;
  }

  & .dreamlife-phone--incoming {
    animation: vibration 1.2s ease-in-out 0s infinite normal;
  }

  & .dreamlife-history-btn {
    @mixin bg-retina 'sp/history.png';
    background-repeat: no-repeat;
    border: 4px solid #fff;
    background-position: center;
    border-radius: 5px;
    width: 468px;
    height: 90px;
    cursor: pointer;
    margin-top: 90px;
  }

  & .dreamlife-notes {
    margin-top: 52px;
  }

  & .dreamlife-notes__heading {
    text-align: center;
    line-height: 1;
    font-size: 36px;
  }

  & .dreamlife-notes__list--sp {
    display: block;
    margin-top: 37px;
  }

  & .dreamlife-notes__item {
    font-size: 27px;
    line-height: 40px;
    padding-left: 1em;
    text-indent: -1em;
  }

  & .dreamlife-notes__text--emphasis {
    font-weight: bold;
    color: #e57253;
  }
}