.device--sp {
  & .dreamlife-thanks__title {
    @mixin replace 'sp/title3.png';
  }

  & .dreamlife-thanks__description {
    margin-top: 50px;
    font-size: 27px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  & .dreamlife-thanks__description-heading {
    font-size: 36px;
    line-height: 1;
    text-align: center;
    margin-bottom: 33px;
  }
}