.device--sp {
  & .footer {
    display: flex;
    justify-content: center;

    & .inner {
      padding: 30px 8px 30px 0;
    }
  }

  & .copyrights {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 20px;
  }

  & .copyright--tennimu {
    height: height('sp/logo1.png');
    padding-top: 40px;
    padding-left: 88px;
    position: relative;
  }

  & .copyright--tennimu__link {
    @mixin replace 'sp/logo1.png';
    @mixin absolute 0, , , 0;
  }

  & .copyright--jasrac {
    @mixin bg 'sp/logo2.png';
    background-repeat: no-repeat;
    background-position: right top;
    text-align: right;
    height: height('sp/logo2.png');
    padding-top: 35px;
    padding-right: 83px;
    transform: translateY(8px);
  }
}