.device--sp {
  & .history {
    padding: 50px 0;
  }

  & .history-logo {
    @mixin replace 'sp/title3.png';
  }

  & .history-title {
    @mixin replace 'sp/history.png';
    width: 382px;
    height: 54px;
    background-size: contain;
    margin-top: 50px;
  }

  & .history-description--sp {
    display: block;
    font-size: 32px;
    line-height: 48px;
    margin-top: 35px;
    text-align: center;
  }

  & .history-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  & .history-item {
    width: 640px;
    height: 76px;
    border: 2px solid #fff;
    border-radius: 6px;
    font-size: 32px;
    line-height: 1;
    padding: 20px 27px;
    margin-top: 24px;
  }

  & .history-btn {
    margin-top: 50px;
    width: 470px;
    height: 90px;
    border: 4px solid #fff;
    border-radius: 6px;
    letter-spacing: 16px;
    font-size: 36px;
    line-height: 1;
    padding: 23px 0;
    text-align: center;
  }
}