.device--sp {
  & .info__title {
    @mixin replace 'sp/title2.png';
  }

  & .info__btn {
    @mixin replace 'sp/btn.png';
    text-indent: -9999em;
    margin-top: 36px;
  }

  & .info__stages {
    width: 100%;
    margin-top: 76px;
  }

  & .stage {
    padding: 0 14px;

    &:nth-child(2) {
      margin-top: 90px;
    }
  }

  & .stage__place {
    margin-left: 25px;
  }

  & .stage__city-name {
    display: inline-block;
    font-size: 77px;
  }

  & .stage__hall-name {
    display: inline-block;
    font-size: 36px;
    margin-left: 45px;
  }

  & .stage__schedule {
    margin-top: 60px;
    margin-left: 25px;
    font-size: 32px;
    font-weight: bold;
  }

  & .stage__table {
    margin-top: 40px;
  }

  & .stage__table--kobe {
    @mixin replace 'sp/schedule1.png';
  }

  & .stage__table--yokohama {
    @mixin replace 'sp/schedule2.png';
  }

  & .stage__ticket {
    font-size: 30px;
    line-height: 44px;
    margin-top: 50px;
    margin-left: 25px;
  }

  & .stage__ticket-shop {
    font-weight: bold;
  }
}