/*
SPでは画面の高さいっぱいにモーダルを表示するが、
端末を横にした状態でも表示を保つ必要があるため、
デザイン上の要素のpxをデザイン上のモーダルの高さ(1334px)
で割り、100vhにかける処理を挟んでいる(mixin cbv(calc-by-vh))
*/

.device--sp {
  & .modal__overlay {
    background-color: rgba(0, 0, 0, 1);
  }

  & .phone {
    height: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
  }

  & .phone__wrapper {
    height: 100%;
  }

  & .phone__contents {
    margin-top: 16px;
    height: 626px;

    @mixin cbv margin-top, 16;
    @mixin cbv height, 626;

    margin-top: 1.2%;
    height: 48%;
    width: 100%;
  }

  & .phone__role {
    font-size: 44px;

    @mixin cbv font-size, 44;
  }

  & .phone__name {
    font-size: 40px;
    line-height: 54px;
    margin-top: -20px;
    height: 108px;
    white-space: pre;

    @mixin cbv font-size, 32;
    @mixin cbv line-height, 43;
    @mixin cbv margin-top, -20;
    @mixin cbv height, 86;
  }

  & .phone__state {
    font-size: 40px;
    margin-top: 20px;

    @mixin cbv font-size, 40;
    @mixin cbv margin-top, 20;
    @mixin cbv height, 40;
  }

  & .phone__actions {
    width: 536px;
    @mixin cbv width, 536;
    width: 75%;
  }

  & .phone__actions--ended {
    justify-content: center;
  }

  & .phone__action-btn--close {
    @mixin replace 'btn1.png';
    background-size: contain;

    @mixin cbv width, 157;
    @mixin cbv height, 157;
  }

  & .phone__action-btn--start {
    @mixin replace 'btn2.png';
    background-size: contain;

    @mixin cbv width, 157;
    @mixin cbv height, 157;
  }

  & .phone__action-label {
    font-size: 26px;
    margin-top: 12px;

    @mixin cbv font-size, 26;
    @mixin cbv margin-top, 12;
  }

  & .phone__btn--tweet {
    height: 134px;
    font-size: 36px;
    line-height: 134px;
    text-indent: 110px;
    
    @mixin cbv height, 134;
    @mixin cbv font-size, 36;
    @mixin cbv line-height, 134;
    @mixin cbv text-indent, 110;

    &:before {
      @mixin replace 'twitter.png';
      @mixin absolute 50%, , , 160px;
      margin-top: calc(height('twitter.png') / -2);
      background-size: contain;

      @mixin cbv left, 160;
      @mixin cbv width, 58;
      @mixin cbv height, 48;
      @mixin cbv margin-top, -24;

      left: 21%;
    }
  }

  & .video__btn {
    width: 464px;
    height: 96px;
    border: 4px solid rgba(6, 0, 0, .6);
    line-height: 88px;
    font-size: 38px;
    border-radius: 10px;
    @mixin absolute auto, , 16px, 50%;
    margin-left: -232px;

    @mixin cbv width, 464;
    @mixin cbv height, 96;
    @mixin cbv border-width, 4;
    @mixin cbv line-height, 88;
    @mixin cbv font-size, 38;
    @mixin cbv border-radius, 10;
    @mixin cbv bottom, 16;
    @mixin cbv margin-left, -232;
  }

  & .loading {
    @mixin bg 'loading.gif';
  }
}