.device--sp {
  & .navigation__wrapper {
    padding: 38px 0;
    @mixin bg 'sp/border.png';
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
    & .inner {
      display: flex;
      justify-content: space-between;
      padding: 0 16px 0 20px;
    }
  }

  & .navigation__links {
    width: 512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .navigation__link--about {
    @mixin replace 'sp/nav1.png';
  }

  & .navigation__link--info {
    @mixin replace 'sp/nav2.png';
  }

  & .navigation__link--dreamlife {
    @mixin replace 'sp/nav3.png';
  }

  & .navigation__shares {
    width: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  & .navigation__share--twitter {
    @mixin replace 'sp/twitter.png';
  }

  & .navigation__share--facebook {
    @mixin replace 'sp/facebook.png';
  }

  & .countdown {
    padding: 60px 0 44px;
    @mixin bg 'sp/border.png';
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      height: 117px;
    }
  }

  & .countdown--during-stage {
    & img {
      height: 90px;
    }
  }

  & .countdown--thanks {
    & img {
      height: 90px;
    }
  }
}