@keyframes vibration {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(3deg);
  }
  6% {
    transform: rotate(0deg);
  }
  9% {
    transform: rotate(-3deg);
  }
  12% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(3deg);
  }
  18% {
    transform: rotate(0deg);
  }
  21% {
    transform: rotate(-3deg);
  }
  24% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-3deg);
  }
  36% {
    transform: rotate(0deg);
  }
  39% {
    transform: rotate(3deg);
  }
  42% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-3deg);
  }
  48% {
    transform: rotate(0deg);
  }
  51% {
    transform: rotate(3deg);
  }
  54% {
    transform: rotate(0deg);
  }
  57% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}