@import 'reset';
@import 'keyframes';

@import 'pc/common';
@import 'pc/header';
@import 'pc/navigation';
@import 'pc/about';
@import 'pc/info';
@import 'pc/dreamlife';
@import 'pc/dreamlife-thanks';
@import 'pc/footer';
@import 'pc/modal';
@import 'pc/history';

@import 'sp/common';
@import 'sp/header';
@import 'sp/navigation';
@import 'sp/about';
@import 'sp/info';
@import 'sp/dreamlife';
@import 'sp/dreamlife-thanks';
@import 'sp/footer';
@import 'sp/modal';
@import 'sp/history';

html, body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #000;
  color: #fff;
  @mixin link-color #fff;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .3s;
}

.wrapper {
  position: relative;

  & .fixed-bg {
    content: '';
    display: block;
    @mixin absolute 0;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-y;
  }

  & .fixed-bg--left {
    left: 1px;
  }

  & .fixed-bg--right {
    right: 1px;
  }
}

.main {
  position: relative;
  display: block;

  &:before, &:after {
    content: '';
    display: block;
    @mixin absolute 0;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-y;
    z-index: 100;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.header {
  position: relative;
  z-index: 500;
}

.top-visual__image {
  width: 100%;
  display: none;
}

.about__description {
  display: none;
}

.dreamlife-notes__list {
  display: none;
}

.history-description {
  display: none;
}

.about,
.info,
.dreamlife,
.dreamlife-thanks,
.history {
  display: flex;
  justify-content: center;
  background-position: center bottom;
  background-repeat: no-repeat;

  & .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal {
  width: 100%;
  height: 100%;
  @mixin fixed 0, 0, 0, 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: .3s;
}

.modal--display {
  pointer-events: auto;
}

.modal__overlay {
  width: 100%;
  height: 100%;
  cursor: pointer;
  @mixin absolute 0, , , 0;
}

.phone {
  position: relative;
  text-align: center;
}

.phone__wrapper {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone__image {
  width: 100%;
  position: relative;
  user-select: none;

  & img {
    width: 100%;
    display: block;
    user-select: none;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    @mixin absolute 0, , , 0;
    user-select: none;
  }
}

.phone__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.phone__role {
  line-height: 1;
}

.phone__state {
  line-height: 1;
}

.phone__actions {
  display: flex;
  justify-content: space-between;
}

.phone__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone__action-label {
  line-height: 1;
}

.phone__btn--tweet {
  width: 100%;
  display: block;
  @mixin absolute auto, , 0, 0;
  background-color: #5bb8ff;
  text-decoration: none;
  text-align: center;

  &:before {
    content: '';
  }
}

.video {
  @mixin absolute 0, , , 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video--display {
  display: block;
}

.video__element {
  width: 100%;
  height: 100%;
}

.video__btn {
  background-color: rgba(0, 0, 0, .6);
  cursor: pointer;
  letter-spacing: .5em;
  text-align: center;
  font-weight: bold;
}

.loading {
  display: none;
  width: 100%;
  height: 100%;
  @mixin absolute 0, , , 0;
  background-color: rgba(0, 0, 0, 1);
  background-position: center center;
  background-repeat: no-repeat;
}

.loading--display {
  display: block;
}