@define-mixin position $t: auto, $r: auto, $b: auto, $l: auto {
  top: $t;
  right: $r;
  bottom: $b;
  left: $l
}

@define-mixin relative $t: auto, $r: auto, $b: auto, $l: auto {
  position: relative;
  @mixin position $t, $r, $b, $l
}

@define-mixin absolute $t: auto, $r: auto, $b: auto, $l: auto {
  position: absolute;
  @mixin position $t, $r, $b, $l
}

@define-mixin fixed $t: auto, $r: auto, $b: auto, $l: auto {
  position: fixed;
  @mixin position $t, $r, $b, $l
}