@define-mixin bg $path {
  background-image: resolve($path);
  background-size: size($path);
}

@define-mixin bg-retina $path {
  background-image: resolve($path);
  background-size: calc(width($path) / 2) calc(height($path) / 2);
}

@define-mixin replace $path {
  @mixin bg $path;
  width: width($path);
  height: height($path);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

@define-mixin replace-retina $path {
  @mixin bg-retina $path;
  width: calc(width($path) / 2);
  height: calc(height($path) / 2);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}